workflows/motivational-quotes/workflow.json
{
  "name": "motivational-quotes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "42ab5444-d2d3-4fe9-92be-27d4f09e6470",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const frases = [\n\"Hoje é um bom dia para começar algo novo.\",\n\"Pequenos passos levam a grandes resultados.\",\n\"Consistência vence motivação.\",\n\"Feito é melhor que perfeito.\"\n];\n\nconst frase = frases[Math.floor(Math.random() * frases.length)];\n\nreturn [{ frase }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ff229637-58cd-49bd-ae1e-fe9e398f1aba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ab6464d-b34d-482a-88f0-92f61f95cb46",
              "name": "frase",
              "value": "={{ $json.frase }}",
              "type": "string"
            },
            {
              "id": "a5dd6b41-13b4-4895-b239-12be3e576c25",
              "name": "Day of week",
              "value": "={{ $('Schedule Trigger').item.json['Day of week'] }}",
              "type": "string"
            },
            {
              "id": "094a9e08-fb46-4181-8816-5ce5e00b9a73",
              "name": "Month",
              "value": "={{ $('Schedule Trigger').item.json.Month }}",
              "type": "string"
            },
            {
              "id": "cce5ec1c-c8c5-4760-8526-5d8c33c5603e",
              "name": "Year",
              "value": "={{ $('Schedule Trigger').item.json.Year }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "c84bf8da-3702-452b-ada4-60902f6da442",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Frase do Dia</title>\n\n<style>\nbody{\n    margin:0;\n    height:100vh;\n    display:flex;\n    justify-content:center;\n    align-items:center;\n    background:#f5f5f5;\n    font-family:Arial, sans-serif;\n    text-align:center;\n}\n\n.container{\n    max-width:600px;\n    padding:20px;\n}\n\n.frase{\n    font-size:32px;\n    font-weight:bold;\n    margin-bottom:20px;\n}\n\n.data{\n    font-size:18px;\n    color:#555;\n}\n</style>\n\n</head>\n\n<body>\n\n<div class=\"container\">\n    <div class=\"frase\">\n        {{ $json.frase }}\n    </div>\n\n    <div class=\"data\">\n       {{ $json[\"Day of week\"] }}  | {{ $json.Month }}, {{ $json.Year }}\n    </div>\n</div>\n\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "b1ad343c-f47c-4014-a2e2-7f2bb9259799",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "135d49ac-8d1a-4dc2-9953-0311ce6983f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34f9105c66527f4f65c6f70d4e0616775ae03e0a7ecbacfcd8926dc5aad1c863"
  },
  "id": "bJfbPqdhnVVayScZ",
  "tags": []
}